<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../../static/main.css" type="text/css"/>

    <footer th:fragment="footerSection" class="form-footer">

        <button>Add New</button>

        <select>
            <option>Select Type</option>
            <option>Bill</option>
            <option>Item</option>
            <option>Employee</option>
        </select>

        <input type="text" placeholder="Enter title here"/>

    </footer>

</html>
