<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bluejay Princess Form</title>
        
        <link rel="stylesheet" href="/main.css"/>
        <script src="main.js" defer></script>
    
    
</head>

    <body>
        <div class="form-wrapper">
            <header class="form-header">
                <h1>Project Overview</h1>
            </header>

            <div th:replace="~{fragments/tables :: billsTable}"></div>
            <div th:replace="~{fragments/tables :: itemsTable}"></div>
            <div th:replace="~{fragments/tables :: employeesTable}"></div>
            <div th:replace="~{fragments/tables :: incomeTable}"></div>
            <div th:replace="~{fragments/footer :: footerSection}"></div>

        </div>
        
        <div th:replace="~{fragments/modals :: billModal}"></div>
        <div th:replace="~{fragments/modals :: itemModal}"></div>
        <div th:replace="~{fragments/modals :: employeeModal}"></div>
        <div th:replace="~{fragments/modals :: incomeModal}"></div>

       
    </body>
</html>