<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bluejay Princess Form</title>
        
        <link rel="stylesheet" href="/css/animation.css"/>
        <link rel="stylesheet" href="/css/base.css"/>
        <link rel="stylesheet" href="/css/buttons.css"/>
        <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="/css/modals.css"/>
        <link rel="stylesheet" href="/css/sections.css"/>
        <link rel="stylesheet" href="/css/tables.css"/>

        <script src="/js/main.js" defer></script>
    
    
</head>

    <body>
        <div class="form-wrapper">
            <header class="form-header">
                <h1>Project Overview</h1>
            </header>

            <div th:replace="~{fragments/tables :: billTable}"></div>
            <div th:replace="~{fragments/tables :: itemTable}"></div>
            <div th:replace="~{fragments/tables :: horseExpenseTable}"></div>
            <div th:replace="~{fragments/tables :: employeeTable}"></div>
            <div th:replace="~{fragments/tables :: incomeTable}"></div>
            <div th:replace="~{fragments/footer :: footerSection}"></div>
            <div th:replace="~{fragments/tables :: reportTable}"></div>
        </div>
        
        <div th:replace="~{fragments/modals :: billModal}"></div>
        <div th:replace="~{fragments/modals :: itemModal}"></div>
        <div th:replace="~{fragments/modals :: employeeModal}"></div>
        <div th:replace="~{fragments/modals :: incomeModal}"></div>
    </body>
</html>